<h1>Shoutr</h1>
<div>
  <%= link_to current_user.name, current_user %>
  <ul>
    <li><%= link_to "Followers" %></li>
    <li><%= link_to "Following", :following %></li>
  </ul>
</div>

<%= form_for @text_subject do |form| %>
  <%= form.text_area :body, placeholder: "Shout some words!" %>
  <%= form.submit "Shout" %>
<% end %>

<%= form_for @image_subject do |form| %>
  <%= form.text_field :url, placeholder: "Shout image URL:" %>
  <%= form.submit "Shout" %>
<% end %>

<%= render @shouts_feed %>
